{% extends 'base.html.twig' %}

{% block title %}Listado de facturas de empresa
{% endblock %}

{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}

{% block body %}

	<div class="container" id="tableArea">

		<div class="row justify-content-center">
			<div class="col-9">
				<h1>Listado de facturas</h1>
			</div>
			<div class="col-3 text-right">
				{{form_start(form)}}
				{{form_label(form.buscar)}}{{form_widget(form.buscar)}}
				{{form_end(form)}}

			</div>
		</div>

		<div class="row mt-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nº Factura</th>
						<th>Fecha</th>
						<th>Descripción</th>
						<th>Cliente</th>
						<th>Subtotal</th>
						<th>Total</th>
						<th>acciones</th>
					</tr>
				</thead>
				<tbody>
					{% set sumSubtotal = 0 %}
					{% set sumTotal = 0 %}
					{% for invoiceseterprise in invoiceseterprises  %}
						{% if invoiceseterprise.visible %}
							<tr>
								<td>{{ invoiceseterprise.invoicenumber}}</td>
								<td>{{ invoiceseterprise.date ? invoiceseterprise.date|date('Y-m-d') : '' }}</td>
								<td>{{ invoiceseterprise.description }}</td>
								<td>{{ invoiceseterprise.client }}</td>
								<td>{{ invoiceseterprise.subtotal }}€</td>
								<td>{{ invoiceseterprise.total }}€</td>
								<td>
									<a href="{{ path('invoice_show', {'id': invoiceseterprise.id}) }}">elegir</a>
									<a href="{{ path('invoice_edit', {'id': invoiceseterprise.id}) }}">editar</a>
								</td>
								{% set sumSubtotal = sumSubtotal + invoiceseterprise.subtotal %}
								{% set sumTotal = sumTotal + invoiceseterprise.total %}
							</tr>
						{% endif %}

					{% else %}
						<tr>
							<td colspan="8">No se han encontrado resultados</td>
						</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{sumSubtotal}}€</td>
						<td>{{sumTotal}}€</td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>
		<a href="{{ path('enterprise_index') }}">Regresar al listado de empresas</a>
	</div>


{% endblock %}
