<div class="container content-invoice">
	<div class="load-animate animated fadeInUp">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h1>Crear nueva factura</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-8">
				Fecha:
				{{ form_widget(form.date)}}
			</div>
			<div class="col-4">
				Nº de Factura:
				{{ enterprise.nextinvoicenumber }}
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h3>Cliente,</h3>
				{{client.name}}<br>
				{{client.address}}<br>
				{{client.telephone}}<br>
				{{client.email}}<br>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
				<h3>Empresa,</h3>
				<p id="idempresa" style="display: none">{{enterprise.id}}</p>
				{{enterprise.name}}<br>
				{{enterprise.address}}<br>
				{{enterprise.telephone}}<br>
				{{enterprise.email}}<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-striped" id="invoiceItem">
					<tr>
						<th width="20px"><input id="checkAll" class="formcontrol" type="checkbox"></th>
						<th width="100px">Nombre Producto</th>
						<th width="40px">Cantidad</th>
						<th width="80px">Precio</th>
						<th width="40px">% IVA</th>
						<th width="80px">Total</th>
					</tr>
					<tr>
						<td><input class="itemRow" type="checkbox"></td>
						<td><input type="text" name="productName[]" id="productName_1" class="form-control" autocomplete="off"><div class="suggestions" id="suggestions_1"></div></td>
						<td><input type="number" name="quantity[]" id="quantity_1" min="0" pattern="^[0-9]+" class="form-control quantity" autocomplete="off"></td>
						<td><input type="number" step="any" name="price[]" id="price_1" min="0" pattern="^[0-9]+" class="form-control price" autocomplete="off"></td>
						<td><input type="number" step="any" name=" VAT[]" id="vat_1" class=" form-control price" min="0" pattern="^[0-9]+" autocomplete="off"></td>
						<td><input type="number" readonly step="any" name="total[]" min="0" pattern="^[0-9]+" id="total_1" class="form-control total" autocomplete="off"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mt-5">
				<button class="btn btn-danger delete" id="removeRows" type="button">- Borrar</button>
				<button class="btn btn-success" id="addRows" type="button">+ Agregar Más</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3>Descripción:
				</h3>
				<div class="form-group">
					{{ form_widget(form.description)}}
				</div>
				<br>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">				
				<div class="input-group">
					{{ form_label(form.subtotal)}}{{ form_widget(form.subtotal)}}
					<div class="input-group-addon">euros</div>
				</div>
				<div class="input-group">
					<label>Total IVA:</label>
					<input type="number" class="form-control w-100" name="taxRate" step="any" id="taxRate">
					<div class="input-group-addon">%</div>
				</div>
				<div class="input-group">
					{{ form_label(form.total)}}: {{ form_widget(form.total)}}
					<div class="input-group-addon">euros</div>
				</div>
			</div>
			{{form_label(form.footer)}}
			{{ form_widget(form.footer)}}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
