{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/input_val.css') }}"/>
{% endblock %}

{% block title %}
	Register
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="abs-center">

			<div id="form">
				<h1>Register</h1>
				{{ form_start(registrationForm) }}
				
					{{ form_row(registrationForm.username) }}
			
					{{ form_row(registrationForm.plainPassword) }}
			
				{{ form_row(registrationForm.agreeTerms) }}

				<button class="btn">
					Register
				</button>
				{{ form_end(registrationForm) }}
			</div>

		</div>
	</div>

{% endblock %}
