{% extends 'base.html.twig' %}

{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/invoice.css') }}"/>

{% endblock %}

{% block title %}Listado de responsables
{% endblock %}

{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}

{% block body %}
	<div class="container" id="tableArea">
		<h1>Listado de responsables</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tel&eacute;fono</th>
					<th>acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for supervisor in supervisors %}
					{% if supervisor.visible %}
						<tr>
							<td>{{ supervisor.name }}</td>
							<td>{{ supervisor.telephone }}</td>
							<td>
								<a href="{{ path('supervisor_edit', {'id': supervisor.id}) }}">Editar</a>
							</td>
						</tr>
					{% endif %}

				{% else %}
					<tr>
						<td colspan="4">No se han encontrado resultados</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('supervisor_new', {identerprise: enterprise.id}) }}">Crear nuevo supervisor</a>
	</div>
{% endblock %}
