{% extends 'base.html.twig' %}

{% block nav %}
	{{ include('navbar/simplenavbar.html.twig') }}
{% endblock %}


{% block title %}Editar Cliente
{% endblock %}

{% block body %}

	<div class="container">


		<div class="row">
			<div class="col-md-9">
				<h1>Editar Cliente</h1>
				{{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

			</div>
		</div>
		{# {{ dump (client.supervisor.name) }} #}

		{# <a href="{{ path('client_index', {idempresa: enterprise.id})}}) }}">Regresar al listado</a> #}
		{# <a href="{{ path('client_index', {idempresa: enterprise.id})}}) }}">Regresar al listado</a> #}

	{{ include('client/_delete_form.html.twig') }}

</div>{% endblock %}
