{% extends 'base.html.twig' %}

{% block title %}Listado de clientes
{% endblock %}

{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}

{% block body %}


	<div class="container" id="tableArea">
		<h1>Listado de clientes</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>DNI</th>
					<th>E-mail</th>
					<th>Telefono</th>
					<th>Web</th>
					<th>Responsable</th>
					<th>acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}

					{% if client.visible %}
						<tr>
							<td>{{ client.name }}</td>
							<td>{{ client.address }}</td>
							<td>{{ client.nif }}</td>
							<td>{{ client.email }}</td>
							<td>{{ client.telephone }}</td>
							<td>{{ client.web }}</td>
							<td>{{ client.supervisor }}</td>
							<td>
								<a href="{{ path('client_show', {'client': client.id, 'idempresa': enterprise.id}) }}">Mostrar</a>
								<a href="{{ path('client_edit', {'id': client.id}) }}">Editar</a>
							</td>
						</tr>
					{% endif %}

				{% else %}
					<tr>
						<td colspan="8">No se han encontrado resultados</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('client_new', {'idempresa': id_empresa}) }}">Crear nuevo cliente</a>
	</div>


{% endblock %}
